/* Add CSS Styling */
.odd{
    background-color: lightsalmon;
    font-family: verdana,"Dejavu Sans",sans-serif;
}

#second{
    color: blue;
    font-size: 36px;
}

#fourth{
    background-color: lightgreen;
    font-weight: bold;
}

.adjust-font-size{
    font-size: 24px;
}